<div class="page-wrapper">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center">
        <div class="h1">Zarządzaj przesyłką</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="h2">Zmień status przesyłki</div>
      </div>

      <div>

        <div class="form-header">
          <label>
            <input #searchInput class="au-input au-input-xl" type="text"
                   placeholder="Wprowadź numer paczki..."
                   (keydown)="clearResults()"
                   (keypress)="clearResults()"
                   (keyup)="clearResults()"
                   (click)="clearResults()"
            />
          </label>
          <label>
            <input #accessCodeInput class="au-input au-input-xl" type="text"
                   placeholder="Wprowadź kod dostępu"
                   (keydown)="clearResults()"
                   (keypress)="clearResults()"
                   (keyup)="clearResults()"
                   (click)="clearResults()"
            />
          </label>
        </div>

        <div class="d-flex justify-content-center">
          <div>
            <label>
              <select #statusInput class="selectBox">
                <option *ngFor="let status of keys(statuses)" [ngValue]="statuses[status]">{{status}}</option>
              </select>
            </label>
          </div>

          <div>
            <button class="au-btn-submit"
                    (click)="changeStatus(searchInput.value, statusInput.value, accessCodeInput.value)">
              Zmień status
            </button>
          </div>
        </div>

        <!-- DO NOT REMOVE - adds some space! -->
        <div class="pt-3"></div>

        <div class="d-flex justify-content-center">
          <div class="alert-danger" *ngIf="changeStatusEndedWithError;">Zły numer paczki</div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="alert-success" *ngIf="changeStatusEndedWithSuccess;">Status paczki został zmieniony</div>
        </div>


        <div class="d-flex justify-content-center">
          <div class="h2">
            Zmień adres dostawy
          </div>
        </div>

<!--        <div class="form-header">-->
<!--          <label>-->
<!--            <input #deliverySearchInput class="au-input au-input-xl" type="text"-->
<!--                   placeholder="Wprowadź numer paczki..."-->
<!--                   (keydown)="clearResults()"-->
<!--                   (keypress)="clearResults()"-->
<!--                   (keyup)="clearResults()"-->
<!--                   (click)="clearResults()"-->
<!--            />-->
<!--          </label>-->
<!--          <label>-->
<!--            <input #deliveryAccessCodeInput class="au-input au-input-xl" type="text"-->
<!--                   placeholder="Wprowadź kod dostępu"-->
<!--                   (keydown)="clearResults()"-->
<!--                   (keypress)="clearResults()"-->
<!--                   (keyup)="clearResults()"-->
<!--                   (click)="clearResults()"-->
<!--            />-->
<!--          </label>-->
<!--        </div>-->

        <div class="form-header">
          <div class="h5">
            Zmień nazwę miasta na:
          </div>

          <label>
            <input #receiverCityInput class="au-input au-input-xl" type="text"
                   placeholder="Wprowadź nazwę miasta..."
            />
          </label>

          <div class="h5">
            Zmień kod pocztowy na:
          </div>

          <label>
            <input #receiverPostCodeInput class="au-input au-input-xl" type="text"
                   placeholder="Wprowadź kod pocztowy..."
            />
          </label>

          <div class="h5">
            Zmień nazwę ulicy na:
          </div>

          <label>
            <input #receiverStreetInput class="au-input au-input-xl" type="text"
                   placeholder="Wprowadź nazwę ulicy..."
            />
          </label>

          <div>
            <button class="au-btn-submit"
                    (click)="changeDeliveryAddress(searchInput.value, accessCodeInput.value, receiverCityInput.value, receiverPostCodeInput.value, receiverStreetInput.value)">
              Zmień
            </button>
          </div>

        </div>

        <!-- DO NOT REMOVE - adds some space! -->
        <div class="pt-3"></div>

        <div class="d-flex justify-content-center">
          <div class="alert-danger" *ngIf="changeDeliveryAddressEndedWithError;">Zły numer paczki</div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="alert-danger" *ngIf="changeDeliveryAddressEndedWithErrorNoAccess;">Zły kod dostępu</div>
        </div>

        <div *ngIf="isWrongAddressInput;">
          <div class="alert-danger">Błędnie wprowadzono nowy adres dostawy</div>
        </div>

        <div *ngIf="wasAddressChangeRequested">
          <div *ngIf="wasAddressChanged; else addressNotChanged">
            <div class="alert-success">Poprawnie zmnieniono adres dostawy</div>
          </div>
          <ng-template #addressNotChanged>
            <div class="alert-danger">Nie udało sie zmienić adresu dostawy, spróbuj ponownie</div>
          </ng-template>
        </div>

        <div *ngIf="isBadStatus;">
          <div class="alert-danger">
            Przy obecnym statusie paczki nie ma możliwości zmiany adresu dostawy
          </div>
        </div>
        <div class="pt-3">

        </div>
        <div *ngIf="wasParcelDateOfDeliverChangeRequested;">
          <div *ngIf="wasParcelDateOfDeliverChanged; else parcelDateOfDeliveryNotChanged">
            <div class="alert-success">Pomyślnie zmieniono date
            </div>
          </div>
        </div>
        <ng-template #parcelDateOfDeliveryNotChanged>
          <div class="alert-danger">Nie udało się zmienić daty
          </div>
        </ng-template>
        <div class="pt-3">

        </div>

          <div class="d-flex justify-content-center">
            <button class="btn btn-lg btn-outline-primary"
                    (click)="open(content, searchInput.value)">
              Zmień termin dostawy
            </button>
          </div>
          <div class="pt-3">

          </div>
    </div>
  </div>
</div>
</div>
<!-- END PAGE CONTAINER-->
<!--<footer>-->
<!--  <app-footer></app-footer>-->
<!--</footer>-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Wybierz datę
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

            <span aria-hidden="true">
                ×
            </span>
    </button>
  </div>
  <div class="modal-body">
    <dl-date-time-picker
      maxView="year"
      minView="day"
      startView="day"
      minuteStep="1"
      [(ngModel)]="selectedDate"
    >
    </dl-date-time-picker>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('CANCELED')">
      Anuluj
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="modal.close('DATE_PICKED')">
      Wybierz
    </button>
  </div>
</ng-template>
