<div class="page-wrapper">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center">
        <div class="h1">Szukasz paczki o numerze: {{parcelId}}</div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="h2">
          Status: {{parcel.status}}
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="h3">
          Rozmiar: {{parcel.size}}
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="h3">
          Waga: {{parcel.weightInKg + ' kg'}}
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="h3">
          Wymiary: {{parcel.length + 'x' + parcel.width + 'x' + parcel.height}} cm
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="h3">
          Adres nadawcy: {{parcel.senderCity + ' ' + parcel.senderStreet + ' ' + parcel.senderPostCode}}
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="h3">
          Adres odbiorcy: {{parcel.receiverCity + ' ' + parcel.receiverStreet + ' ' + parcel.receiverPostCode}}
        </div>
      </div>
    </div>
  </div>
</div>
