<div class="page-wrapper">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center">
        <div class="h1">Szukasz paczki o numerze: {{parcelId}}</div>
      </div>

      <!-- display we still search for parcel, when we call backend -->
      <div *ngIf="wasParcelSearched; then parcelPresent else searchingForParcel"></div>

      <!-- when we got it display it -->
      <ng-template #parcelPresent>
        <div *ngIf="wasParcelFound; then parcelFound else parcelNotFound"></div>
      </ng-template>

      <ng-template #searchingForParcel>
        <div class="d-flex justify-content-center">
          <div class="h2">
            Szukamy paczki...
          </div>
        </div>
      </ng-template>

      <ng-template #parcelFound>
        <div class="d-flex justify-content-center">
          <div class="h2">
            Nazwa: {{parcel.name}}
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="h2">
            Status: {{translatedParcelStatus}}
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="h3">
            Rozmiar: {{parcel.size}}
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="h3">
            Waga: {{parcel.weightInKg + ' kg'}}
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="h3">
            Wymiary: {{parcel.length + 'x' + parcel.width + 'x' + parcel.height}} cm
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="h3">
            Adres nadawcy: {{parcel.senderCity + ' ' + parcel.senderStreet + ' ' + parcel.senderPostCode}}
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="h3">
            Adres odbiorcy: {{parcel.receiverCity + ' ' + parcel.receiverStreet + ' ' + parcel.receiverPostCode}}
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="h3">
            <ng-container
              *ngIf="parcel.status !== statusDelivered && parcel.status !== statusContact; else deliveredOrContact">

              <ng-container *ngIf="daysToDeliver > 0; else today">
                Otrzymasz paczkę za <b>{{daysToDeliver}}</b>

                <ng-container *ngIf="daysToDeliver > 1; else oneDay"> dni</ng-container>
                <ng-template #oneDay> dzień</ng-template>
              </ng-container>

              <ng-template #today>Otrzymasz paczkę <b>dzisiaj</b></ng-template>
            </ng-container>

            <ng-template #deliveredOrContact>
              <ng-container *ngIf="parcel.status === statusDelivered; else contact">
                <div class="alert-success">Udało się, przesyłka została dostarczona!</div>
              </ng-container>
              <ng-template #contact>
                <div class="alert-danger">Ups, mamy problem z przesyłką, skontaktuj się z obsługą klienta</div>
              </ng-template>
            </ng-template>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="h3">
            <ng-container *ngIf="parcel.status !== statusDelivered && parcel.status !== statusContact; else delivered">
              Przewidywany termin dostawy: <b>{{expectedParcelDeliveryDate | date: 'dd/MM/yy':'UTC'}}</b>
            </ng-container>
            <ng-template #delivered>
              Przesyłka została dostarczona: <b>{{expectedParcelDeliveryDate | date: 'dd/MM/yy':'UTC'}}</b>
            </ng-template>
          </div>
        </div>
        <div class="pt-3">

        </div>

        <div class="d-flex justify-content-center">
          <div class="h4">
            Historia paczki:
          </div>
        </div>
        <div class="pt-3">

        </div>

        <ng-container *ngIf="wasParcelHistoryFound; else historyNotFound">
          <div class="row justify-content-center">
            <div id="pricing" class="container-fluid">
              <table class="table table-bordered table-striped text-center">
                <thead>
                <tr>
                  <th>DATA WPISU</th>
                  <th>STATUS</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let parcelHistory of parcelHistories.parcelHistory">
                  <td>{{parcelHistory.timestamp | date: 'hh:mm dd/MM/yy':'UTC'}}</td>
                  <td>{{parcelHistory.status}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>

        <ng-template #historyNotFound>
          <div class="d-flex justify-content-center">
            <div class="h3">
              Nie można znaleźć historii
            </div>
          </div>
        </ng-template>

        <div class="form-header">
          <div class="d-flex justify-content-center">
            <div class="h4">
              Zmień nazwę paczki na:
            </div>
          </div>
          <div class="pt-3">

          </div>
          <label>
            <input #setInput class="au-input au-input-xl" type="text"
                   placeholder="Wprowadź nazwe paczki..."
                   (keyup.enter)="setNameOfParcel(setInput.value)"/>
          </label>
          <button class="au-btn-submit"
                  (click)="setNameOfParcel(setInput.value)">
            Zmień
          </button>
        </div>

        <div *ngIf="isNameLengthTooShort;">
          <div class="alert-danger">Nie zmieniono nazwy paczki, nazwa jest za krótka</div>
        </div>

        <div *ngIf="wasParcelNameChangeRequested">
          <div *ngIf="wasParcelNameChanged; else parcelNameNotChanged">
            <div class="alert-success">Poprawnie zmnieniono nazwę paczki</div>
          </div>
          <ng-template #parcelNameNotChanged>
            <div class="alert-danger">Nie udało sie zmienić nazwy paczki, spróbuj ponownie</div>
          </ng-template>
        </div>

        <!-- DO NOT REMOVE - adds some space after header! -->
        <div class="pt-3">

        </div>

        <!-- DO NOT REMOVE - adds some space after header! -->
        <div class="pt-3">

        </div>
        <!-- DO NOT REMOVE - adds some space after header! -->
        <div class="pt-3">

        </div>


      </ng-template>

      <ng-template #parcelNotFound>
        <div class="d-flex justify-content-center">
          <div class="h2">
            Nie znaleziono paczki
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="h2">
            Sprawdź jeszcze raz numer paczki
          </div>
        </div>
      </ng-template>

      <div class="d-flex justify-content-center">
        <div class="h4">
          Zmień adres dostawy:
        </div>
      </div>

      <div class="form-header">
        <div class="h5">
          Zmień nazwę miasta na:
        </div>

        <label>
          <input #receiverCityInput class="au-input au-input-xl" type="text"
                 placeholder="Wprowadź nazwę miasta..."
          />
        </label>

        <div class="h5">
          Zmień kod pocztowy na:
        </div>

        <label>
          <input #receiverPostCodeInput class="au-input au-input-xl" type="text"
                 placeholder="Wprowadź kod pocztowy..."
          />
        </label>

        <div class="h5">
          Zmień nazwę ulicy na:
        </div>

        <label>
          <input #receiverStreetInput class="au-input au-input-xl" type="text"
                 placeholder="Wprowadź nazwę ulicy..."
          />
        </label>

        <button class="au-btn-submit"
                (click)="changeDeliveryAddress(receiverCityInput.value, receiverPostCodeInput.value, receiverStreetInput.value)">
          Zmień
        </button>
      </div>

      <div *ngIf="isWrongAddressInput;">
        <div class="alert-danger">Błędnie wprowadzono nowy adres dostawy</div>
      </div>

      <div *ngIf="wasAddressChangeRequested">
        <div *ngIf="wasAddressChanged; else addressNotChanged">
          <div class="alert-success">Poprawnie zmnieniono adres dostawy</div>
        </div>
        <ng-template #addressNotChanged>
          <div class="alert-danger">Nie udało sie zmienić adresu dostawy, spróbuj ponownie</div>
        </ng-template>
      </div>

      <div *ngIf="isBadStatus;">
        <div class="alert-danger">
          Przy obecnym statusie paczki nie ma możliwości zmiany adresu dostawy
        </div>
      </div>

      <!-- DO NOT REMOVE - adds some space! -->
      <div class="pt-3"></div>
      <div class="d-flex justify-content-center">
        <div class="h4">
          Anuluj paczkę
        </div>
        <button class="au-btn-submit"
                (click)="cancelParcel(parcel.parcelId,parcel.status)">
          Anuluj
        </button>
      </div>
      <div *ngIf="wasCancelRequested">
        <div *ngIf="wasCancelled; else notCancelled">
          <div class="alert-success">Anulowano paczkę.</div>
        </div>
        <ng-template #notCancelled>
          <div class="alert-danger">Nie udało sie anulować paczki.</div>
        </ng-template>
      </div>
      <div *ngIf="cannotCancel;">
        <div class="alert-danger">
          Przy obecnym statusie nie można anulować paczki.
        </div>
      </div>
      <!-- DO NOT REMOVE - adds some space! -->
      <div class="pt-3"></div>

      <div class="pt-3">

      </div>
      <div class="pt-3">

      </div>

      <div *ngIf="parcel.status !== statusDelivered">
        <div class="d-flex justify-content-center">
          <button class="btn btn-lg btn-outline-primary"
                  (click)="open(content)">
            Zmień termin dostawy
          </button>
        </div>
        <div class="pt-3">

        </div>
        <div *ngIf="wasParcelDateOfDeliverChangeRequested;">
          <div *ngIf="wasParcelDateOfDeliverChanged; else parcelDateOfDeliveryNotChanged">
            <div class="alert-success">Pomyślnie zmieniono date
            </div>
          </div>
        </div>
        <ng-template #parcelDateOfDeliveryNotChanged>
          <div class="alert-danger">Nie udało się zmienić daty
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="pt-3">

</div>

<div class="pt-3">

</div>
<!-- END PAGE CONTAINER-->
<footer>
  <app-footer></app-footer>
</footer>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Wybierz datę
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

            <span aria-hidden="true">
                ×
            </span>
    </button>
  </div>
  <div class="modal-body">
    <dl-date-time-picker
      maxView="year"
      minView="day"
      startView="day"
      minuteStep="1"
      [(ngModel)]="selectedDate"
    >
    </dl-date-time-picker>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('CANCELED')">
      Anuluj
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="modal.close('DATE_PICKED')">
      Wybierz
    </button>
  </div>
</ng-template>
