<div class="page-wrapper">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">

      <div class="h1">Kontakt</div>

      <div class="pt-3">

      </div>
      <div class="h3">Szybcy kurierzy</div>
      <div class="pt-3">

      </div>
      <div class="h4"> ul. Radwańska 31</div>
      <div class="pt-3">

      </div>
      <div class="h4"> 93-574 Łódź</div>
      <div class="pt-3">

      </div>
      <div class="h4"> Infolinia:</div>
      <div class="pt-3">

      </div>
      <div class="h4"> +48 700-300-100</div>
      <div class="pt-3">

      </div>
      <div class="h4"> +48 800-100-400</div>
    </div>

  </div>
</div>


<!-- END PAGE CONTAINER-->
<footer>
  <app-footer></app-footer>
</footer>

