<div class="page-wrapper">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center">
        <div class="h1">Usługi</div>
      </div>

      <div class="pt-3">

      </div>

      <div class="d-flex justify-content-center">

        <div class="h4 w-50 text-justify">Nasza firma świadczy usługi kurierskie. Zajmujemy się transportem przesyłek
          na terenie całego naszego kraju, w trzech rozmiarach: S, M, L. Poniżej znajduje się cennik naszych usług. W
          przypadku wątpliwości rozmiaru Państwa paczki, prosimy o skorzystanie z naszego kalkulatora dostępnego w
          zakładce:
          "Sprawdź rozmiar".

          <div class="pt-3">

          </div>
          <div class="pt-3">

          </div>
          <div class="h3 d-flex justify-content-center">
            Cennik usług
          </div>
          <div class="pt-3">

          </div>

          <table class="table table-bordered table-striped text-center">
            <thead>
            <tr>
              <th></th>
              <th>USŁUGA</th>
              <th>ROZMIAR S</th>
              <th>ROZMIAR M</th>
              <th>ROZMIAR L</th>

            </tr>
            </thead>
            <tbody>
            <td>Cena
            </td>
            <td>Wysłanie przesyłki
              <div class="pt-3">
              </div>
              na ternie kraju
            </td>
            <td>
              Cena: 10zł
            </td>
            <td>
              Cena: 20zł
            </td>
            <td>
              Cena: 30zł
            </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- END PAGE CONTAINER-->
    <footer>
      <app-footer></app-footer>
    </footer>
